<div class="hero" style="background-image: url('/img/image1.png');">
  <div class="hero-overlay">
    <h2 class="hero-title">Arma Wasteland</h2>
    <p class="hero-subtitle">Track your combat stats, climb the leaderboard, dominate the battlefield.</p>
  </div>
</div>

{{#if user}}
  {{> stats}}
{{/if}}

{{> leaderboard}}
